/*Home css start*/
/*.cart-dropdown:hover{
  visibility: hidden!important;
  opacity: 0!important;
}*/
.cart-dropdown .dropdown-menu.show, .compare-dropdown .dropdown-menu.show {
    opacity: 1!important;
    visibility: visible!important;
}
body {
    background-color: white!important;
  }
  .main.home-page .product-default:hover figure a::after {
    opacity: 0!important;
}
header.header .header-center {
    margin-right: auto!important;
 }
footer.footer{
  float: left;
  width: 100%;
}
.main.home-page .product-default:hover figure {
    box-shadow: none!important;
}
  .onsale {
    background: #1A62AD !important;
}
h2.text-5xl.text-blue-600.text-center.home-title {
    margin-bottom: 35px;
    margin-top: -30px;
}
.header {
    border-top: 0!important;
}
.widget-newsletter .btn {
    top: 39px!important;
    }
.welcome-msg {
    display: none;
    position: relative;
    margin: .3rem 2rem .3rem 0;
    text-transform: capitalize!important;
    font-size: 15px;
}
.home-slider-container {
    margin-top: 2px !important;
}
footer.footer {
    color: black;
    font-size: 16px;
}
footer.footer h4.widget-title {
    font-size: 23px;
    font-weight: 400;
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}
  footer i.fa.fa-clock {
    font-size: 19px;
    background: transparent;
    color: black;
    height: 15px;
    width: 15px;
    padding: 12px;
}
footer i.fa.fa-mobile {
    font-size: 26px;
    color: black;
    background: transparent;
    width: 15px;
    height: 15px;
     padding: 12px;
}
footer i.fa.fa-envelope {
    font-size: 15px;
    color: black;
    background: transparent;
    width: 15px;
    height: 15px;
     padding: 12px;
}
  .product-default.inner-quickview.inner-icon{
    position: relative;
  }
  .product-default.inner-quickview.inner-icon:hover .over-lay-cat {
    background: blue!important;
    height: 200px!important;
    opacity: 0.5!important;
    
}
  .container-box {
    background: white!important;
   /* background: lightgrey!important;*/
}
.home-title {
    color: #1A62AD;
    font-size: 33px;
}
p.welcome-msg {
    color: #1A62AD;
}
.header-top {
    line-height: 3!important;
}
.header-menu ul li {
    color: #1A62AD;
}
.header-middle {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.home-slider-container {
    margin: 2!important;
}
.new-home-silder {
    margin-bottom: 45px;
}


h2.product-title a {
    color: black!important;
    font-weight: 600;
    font-size: 18px;
}
span.product-price {
    color: #1A62AD;
}
.product-default.inner-quickview.inner-icon:hover .middle {
    opacity: 1!important;
    color: white!important;
    font-size: 21px;
    font-weight: 600;
}
.product-default:hover figure img:first-child {
    opacity: 0.7;
}
.product-default.inner-quickview.inner-icon:hover {
        opacity: .8!important;
      /*  height: 539px!important;*/
    background: #1A62AD;
    
}
/*.inner-quickview:hover figure img:last-child {
    opacity: 0.2 !important;
    height: 539px!important;
}
.product-default figure img {
    transition: none!important;
    }*/
  .product-default.inner-quickview.inner-icon figure h2 {
    position: absolute;
    text-align: center;
    font-size: 19px;
    width: 100%;
    bottom: -18px;
    background: #1A62AD;
    padding: 10px;
    opacity: .8;
    color: #fff;
    height: 58px;
    font-weight: 500;
}
.middle {
  /*transition: .5s ease!important;*/
 
 /* transform: translate(-50%, -50%)!important;
  -ms-transform: translate(-50%, -50%)!important;*/
  opacity: 0!important;
    position: absolute!important;
    top: 50%!important;
    left: 37%!important;
    text-align: center!important;
    color: white!important;
  
}
div#register .modal-dialog,div#login .modal-dialog {
    width: 600px;
}
@media only screen and (max-width: 768px) {
  .cart-dropdown:hover .dropdown-menu, .compare-dropdown:hover .dropdown-menu {
     opacity: 0!important; 
    visibility: visible;
}
.cart-dropdown .dropdown-menu.show, .compare-dropdown .dropdown-menu.show
{
   opacity: 1!important; 
    visibility: visible;

}
  /* For mobile phones: */
  div#register .modal-dialog,div#login .modal-dialog {
    width: 100%;
    margin-left: 0px;
  }
}
.header-middle .header-right{
  margin: 0!important;
}
.modal-body {
    overflow: hidden;
    /* height: 686px; */
    position: relative!important;
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
    padding: 1rem !important;
    overflow: hidden!important;
    display: contents!important;
}
div#reset_password .modal-dialog {
    max-width: 630px!important;
    overflow: hidden;
    height: -webkit-fill-available;
}
.cart-dropdown .dropdown-toggle::before {
    display: none!important;
}
.header-top{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    background: #ffff;

}
i.fa.fa-shopping-cart {
    font-size: 25px;
    color: gray;
}
body{
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}


.home-slider.owl-carousel .owl-nav .owl-prev, .home-slider.owl-carousel .owl-nav .owl-next{
display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px!important;
    height: 40px!important;
    font-size: 12px!important;
    color: white!important;
    position: absolute;
    background-color: black!important;
    opacity: .5!important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%!important;
    z-index: 200;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
 }
.home-slider.owl-carousel .owl-nav.disabled,.home-slider .owl-carousel .owl-dots.disabled {
    display: block!important;
}
.home-slider.owl-carousel .owl-nav .owl-prev, .home-slider.owl-carousel .owl-nav .owl-next{
   font-size: 12px!important;
   opacity: 0!important;
}
.home-slider.owl-carousel.owl-theme.owl-theme-light.owl-loaded.owl-drag:hover button.owl-prev,.home-slider.owl-carousel.owl-theme.owl-theme-light.owl-loaded.owl-drag:hover button.owl-next {
    opacity: 0.5!important;
}
   .toolbox select.form-control:not([size]):not([multiple]) {
   height: 25px!important;
   }
   .inner-quickview:hover .btn-quickviewss {
   visibility: visible;
   opacity: 0.9;
   }
   .inner-quickview figure .btn-quickviewss {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   font-size: 1.3rem;
   font-weight: 400;
   letter-spacing: 0.025em;
   font-family: "Oswald", sans-serif;
   text-transform: uppercase;
   visibility: hidden;
   opacity: 0;
   height: unset;
   padding: 1.4rem;
   background-color: #1A62AD;
   color: white!important;
   transform: none;
   margin: 0;
   border: none;
   transition: all .3s ease-out;
   }
   .product-default .btn-quickviewss {
   font-size: 1.4rem;
   transform: translateX(-200%);
   }
   .product-default .btn-icon-wish, .product-default .btn-quickviewss {
   display: flex;
   border: 1px solid #ddd;
   font-size: 1.6rem;
   margin: 0 2px;
   width: 36px;
   height: 36px;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all .25s ease;
   transform: translateX(200%);
   }
   .checked{
   left: 9px;
   top: 7px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-top-width: medium;
   border-right-width: medium;
   border-bottom-width: medium;
   border-left-width: medium;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(40deg);
   background: transparent;
   }
.product-default:hover figure h2{
  display: initial !important;
}
.product-default.cat-listing figure{
  margin-bottom: 0px;
}
/*Home css end*/

/*Commann css breadcrum start*/
.static-pages {
    margin-bottom: 50px;
    /*margin-top: 50px;*/
    float: left;
    width: 100%;
}
nav.breadcrumb-nav {
    margin-top: 15px;
}
.breadcrumb-item + .breadcrumb-item::before {
    font-size: 18px!important;
}


/*Commann css breadcrum end*/

/*Blog page css start*/
 
.style-bottom-info.layout-03 .post-meta .count-number + .count-number, .post-item .group-buttons .count-number + .count-number {
    border-left: 1px solid #e6e6e6 !important;
}

div#register {
    padding: 0!important;
}
.col-lg-4 {
    float: left;
    }
li.post-elem {
    list-style: none;
    display: block;
    margin-bottom: 40px!important;
    margin-top: 10px!important;
}
.btn.btn-thin:hover, .testml-elem-2 .avata, .biolife-service__type02, .minicart-block.layout-02 .icon-contain .span-index, .biolife-carousel.dots_ring_style .slick-dots li button, .post-item .post-content .btn.readmore:hover, .slider-opt03__layout02 .buttons .btn-thin, .single-post-contain .post-foot .socials-connection .social-list li a:hover, .biolife-quickview-block .quickview-nav li.slick-current img, .sumary-product .media .slider-nav li.slick-current img, .slider-opt04__layout01.light-version .buttons .btn-thin:not(:hover), .biolife-title-box.link-all .blog-link:hover::after, .biolife-cat-box-item:hover .cat-info, .biolife-panigations-block ul li a:hover, .biolife-panigations-block ul li .current-page, .sidebar .wgt-content .color-list li.selected a .hex-code, .sidebar .wgt-content .color-list li a:hover .hex-code, .sidebar .wgt-content .check-list li.selected a::before, .slider-opt03__layout01 .buttons .btn-thin:not(:hover), .sidebar .wgt-content .check-list li a:hover::before {
    border-color: #1A62AD;
}
.post-item .group-buttons .count-number:hover .number{
    color: #ffffff;
    background: #1A62AD!important;
}
.post-item .group-buttons .btn.readmore:hover {
    color: #ffffff;
    background: #1A62AD!important;
}
a.btn.readmore:hover{
    background: #1A62AD;
}
.thumbnail {
    height: 270px;
}
/*Blog page css end*/


/*About us page css start*/
.count-title {
    margin-bottom: 0;
    color: #7a7d82;
    font-size: 20px
}
.count-wrapper {
    font-size: 25px;
}
.count-wrapper {
    margin-bottom: .8rem;
    color: #21293c;
    text-transform: uppercase;
    font-size: 36px;
}



/*About us page css end*/

/*new arrival page css start*/
main.main.new-arrival .new-arrival-product-list figure {
    height: 500px;
}

.sidebar-shop .filter-button svg{
  width: 24px;
  height: 24px;
  fill: currentColor;
  /* margin-right: 8px; */
} 
.sidebar-shop .filter-button p{
  text-align: center;
  border: 1px solid #ddd;
  font: 1.4rem "Oswald",sans-serif;
  text-transform: uppercase;
}


/*** Responsive Website ***/
@media only screen and (min-width : 960px) and (max-width: 1024px) {

}
@media only screen and (max-width : 992px) {
.sidebar-shop{
  overflow: hidden;
}
.new-arrival {
    overflow: hidden;
}
.product-default .btn-quickviewss{
  position: absolute;
  bottom: 0;
  left: 0;
}
main.main.new-arrival .new-arrival-product-list figure,
main.main.new-arrival .product-default figure img:first-child{
  height: auto !important;
}
.new-home-silder{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.new-home-silder .home-slider-container{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  max-height: 100% !important;
}
.new-home-silder .home-slider-container .owl-carousel{
  height: 100% !important;
}
.new-home-silder .home-slider-container .owl-carousel .owl-stage-outer,
.new-home-silder .home-slider-container .owl-carousel .owl-stage-outer .owl-stage,
.new-home-silder .home-slider-container .owl-carousel .owl-item,
.new-home-silder .home-slider-container .owl-carousel .owl-item *{
    height: 100%;
}
.home-slide .slide-bg{
  background-size: 100% 100%;
}
}
@media only screen and (min-width : 768px) and (max-width: 959px) {

}  
@media only screen and (min-width : 600px) and (max-width: 767px) {

}
@media only screen and (min-width : 568px) and (max-width: 599px) {

}
@media only screen and (min-width : 480px) and (max-width: 567px) {

}
@media only screen and (max-width: 479px) {
.new-arrival-product-list .col-6{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}
@media only screen and (min-width : 384px) and (max-width: 479px) {

}
@media only screen and (min-width : 321px) and (max-width: 383px){

}
@media only screen and (min-width : 300px) and (max-width: 320px){

}
@media only screen and (min-width: 300px) {
.order-sm-first {
  -ms-flex-order: -1;
  order: -1;
}
}
/*new arrival page css end*/